*{
    margin: 0;
    padding: 0;
}
.header{
    margin: auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: ;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Media/Banner\ Image.png');
}
.header-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    padding: 177px 530px 0px 530px;
}
.header-title2{
    width: 632px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 30px 344px 177px;
}
.offer-title{
    color: #F00;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    margin-top: 120px;
}
.offer-title2{
    color: #F00;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 48px;
}
.offer-title3{
    color: #070211;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    margin-top: 16px;
}
.offer-img{
    width: 802.9px;
    height: 500px;
    margin: 30px 560px;
}