*{
    margin: 0;
    padding: 0;
}
.header{
    margin: auto;
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: ;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Media/Banner\ Image.png');
}
.header-title{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    margin: auto;
    padding: 177px 530px 0px 530px;
}
.header-title2{
    width: 632px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 30px 344px 177px;
}